*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    margin: 40px;
}

.box:before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    left: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
}

.box:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    left: -2px;
    bottom: -2px;
    background: #ffffff;
    z-index: -1;
    filter: blur(40px);
}

.box:nth-child(1):before,
.box:nth-child(1):after
{
    background: linear-gradient(235deg, #89ff00,  #010615 , #00bcd4 )
}

.box:nth-child(2):before,
.box:nth-child(2):after
{
    background: linear-gradient(235deg, #ff2c2c,  #010615 , #fffc54 )
}


.box:nth-child(3):before,
.box:nth-child(3):after
{
    background: linear-gradient(235deg, #3834ff,  #010615 , #97fd38 )
}


.box .glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rgba(255, 255,255,0.1);
    pointer-events: none;
}

.box .content {
    padding: 20px;
    color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}